<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" [formGroup]="userForm" (ngSubmit)="login()">
                    <a id="back-to-home" routerLink="/home">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Back to Home
                    </a>
                    <h1>Login To Console</h1>
                    <p class="text-muted"> Please enter your username and password!</p>
                    <input type="text" formControlName="username" placeholder="Username">
                    <input type="password" formControlName="password" placeholder="Password">
                    <a class="forgot text-muted" routerLink="/home">Forgot password?</a>
                    <input type="submit" name="" value="Login">
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <a class="forgot text-muted" routerLink="/signup">Don't have an account? Create one here</a>
                </form>
            </div>
        </div>
    </div>
</div>