<app-title-bar></app-title-bar>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="./overview">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">Deploy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="./design">Design</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Activity</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Access</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Settings</a>
    </li>
</ul>
<div *ngIf="name">
    {{ name }}
</div>
<router-outlet></router-outlet>